<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_INotification_Service">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8302/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_INotification_Service"
                contract="MyServiceHost.INotification_Service" name="NetTcpBinding_INotification_Service">
                <identity>
                    <userPrincipalName value="COMPUTER\Laptop" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>