<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	<connectionStrings>
		<!--<add name="ConSTR" connectionString="server=COMPUTER\SQLEXPRESS;database=Food_delivery_DB;Integrated Security=True;" providerName="System.Data.SqlClient"/>-->
		<add name="ConSTR" connectionString="Data Source=SQL5104.site4now.net;Initial Catalog=db_a736b5_foodeliverydb123;User Id=db_a736b5_foodeliverydb123_admin;Password=QQddRRvv1" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBeh">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="Client_Server_Library.Notification_Service" behaviorConfiguration="mexBeh">
				<endpoint address="" binding="netTcpBinding" contract="Client_Server_Library.INotification_Service">
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8301" />
						<add baseAddress="net.tcp://localhost:8302" />
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>

	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBinding_INotification_Service">
					<security>
						<transport sslProtocols="None" />
					</security>
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint address="net.tcp://localhost:8302/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_INotification_Service"
                contract="MyServiceHost.INotification_Service" name="NetTcpBinding_INotification_Service">
				<identity>
					<userPrincipalName value="COMPUTER\Laptop" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>

</configuration>